<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body ng-app="ClockApp">
<div class="container" ng-controller="ClockController">
    <h1>{{clock.now}}</h1>

    <h4>Simplest Calculating Machine</h4>
    <button ng-click="add(1)">Add</button>
    <a href="" ng-click="subtract(1)">Subtract</a>
    Counter is {{counter}}
    <br/>
    person Object is ===> {{person}}
    person.name is ===> {{person.name}}
</div>
<div ng-controller="ParentController">
    <div ng-controller="ChildController">
        <a href="" ng-click="sayHello()">Click sayHello()</a>
    </div>
    {{person}}
</div>

<div ng-controller="ParseController">
    <input type="text" placeholder="Enter some value" ng-model="expr"/>
    {{ parsedValue }}
</div>
<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="../bower_components/angular-resource/angular-resource.min.js"></script>
<script type="text/javascript" src="../bower_components/lodash/lodash.min.js"></script>
<script type="text/javascript" src="../app/clockapp.js"></script>
</body>
</html>